<ul class="js-clone-nav d-none d-lg-inline-none text-start site-menu float-end">
    <li class="active"><a href="{{path('home')}}">{% trans %}Home {% endtrans %}</a></li>
    <li class="has-children">
        <a href="#">{% trans %} Categories{% endtrans %}</a>
        <ul class="dropdown">
        {% for category in categories %}
            <li><a href="{{path('category', {slug:category.slug})}}">{{category.title}}</a></li>
        {% endfor %}
        </ul>
    </li>
    {% if not app.user %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}"><span class="fas fa-user"></span> Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}"><span class="fas fa-sign-in-alt"></span> Login</a>
        </li>
    {% else %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{path('dashboard')}}" class="account_circle  dropdown-item">Administration</a>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}"><span class="fas fa-user"></span>logout</a>
        </li>
    {% endif %}
</ul>