
{% extends 'base.html.twig' %}

{% block title %}Searched blogs{% endblock %}

{% block body %}
<div class="section">
    <div class="container">
        <div class="row g-5">
            {% for blog in blogs %}
            <div class="col-lg-4">
                <div class="post-entry d-block small-post-entry-v">
                    <div class="thumbnail">
                        <a href="{{path('blog', {slug:blog.slug})}}">
                            <img src="{{ blog.cover }}" alt="Image" class="img-fluid">
                        </a>
                    </div>
                    <div class="content">
                        <div class="post-meta mb-1">
                            <a href="{{path('category', {slug:blog.category.slug})}}" class="category">{{blog.category.title}}</a>&mdash;
                            <span class="date">{{blog.createdAt | date("m/d/Y")}}</span>
                        </div>
                        <h2 class="heading mb-3"><a href="{{path('blog', {slug:blog.slug})}}">{{blog.title}}</a></h2>
                        <p>{{blog.introduction}}</p>
                        <a href="#" class="post-author d-flex align-items-center">
                            <div class="author-pic">
                                <img src="https://i.pravatar.cc/45" alt="Image">
                            </div>
                            <div class="text">
                                <strong>Sergy Campbell</strong>
                                <span>CEO and Founder</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
